<h1>@ViewBag.title</h1>

<form action="/Search/Results">
    <h2>Search by:</h2>
    @if (ViewBag.searchType == null)
    {
        ViewBag.searchType = "all";
    }

    <p>
        @foreach (KeyValuePair<string, string> column in ViewBag.columns)
        {
            <span>
                <input type="radio"
                       name="searchType"
                       id="@column.Key"
                       value="@column.Key"
                       checked="@(column.Key == ViewBag.searchType )"
                />
                        
                <label for="@column.Key">@column.Value</label>
            </span>
        }
    </p>

    <p>
        <label for="searchTerm">Keyword:</label>
        <input type="text" name="searchTerm" id="searchTerm" value=@ViewBag.searchTerm />
    </p>

    <input type="submit" value="Search" />
</form>

<hr />

@if (ViewBag.jobs != null)
{

    <h3>@ViewBag.jobs.Count Result(s)</h3>

    // TODO #2 - DONE - Loop over jobs dictionary and display all job fields

    // TODO BONUS - COMPLETE - Using the same loop in two different places -- as we did in Views/Search/Index.cshtml and Views/List/Jobs.cshtml-- isn't very DRY (Don't Repeat Yourself). To fix this would require partial views. Read up on partial views and use them to eliminate this repeated code.

        Html.RenderPartial("_JobsResults");
}