<table class="job-listing">
    @for (int i = 0; i < ViewBag.jobs.Count; i++)
    {
        @if (i == 0)
        {
            <thead>
                <tr>
                    @foreach (KeyValuePair<string, string> job in ViewBag.jobs[i])
                    {
                        if (@job.Key.ToUpper() == "NAME")
                        {
                            <th>@job.Key.ToUpper()</th>
 }
                        else
                        {
                            // TODO Bonus - COMPLETE - The field names in the tables displaying full job data are not capitalized. Fix this.
                            // TODO Bonus - COMPLETE - In the search results listing and the listing of all jobs, make each value (except for the name field) hyperlinked to the listing of all jobs with that value, as is done on the /List/Values page.
                            <th><a asp-controller="List" asp-action="Values" asp-route-column=@job.Key>   @(job.Key.ToUpper())</a></th>
                        }
                    }
                </tr>
            </thead>
        }

        <tr class="@( i % 2 == 0 ? "even" : "odd" ) ">
            @foreach (KeyValuePair<string, string> job in ViewBag.jobs[i])
            {
                <td>@job.Value</td>
            }
        </tr>

    }
</table>